//
//  Config.xcconfig
//  CoreDataMagic
//
//  Created by Richard Venable on 9/30/13.
//  Copyright (c) 2013 Allogy Interactive. All rights reserved.
//

// See https://developer.apple.com/library/mac/qa/qa1490/_index.html for info on -Objc flag
OTHER_LDFLAGS = -ObjC

USER_HEADER_SEARCH_PATHS = "${SRCROOT}/../Omniscience/Omniscience/**"

// Skip install to prevent archiving this as a separate product in an app archive. See http://stackoverflow.com/a/5206643/456366
SKIP_INSTALL = YES
