//
//  Config.xcconfig
//  CoreDataMagic
//
//  Created by Richard Venable on 9/30/13.
//  Copyright (c) 2013 Allogy Interactive. All rights reserved.
//

// See https://developer.apple.com/library/mac/qa/qa1490/_index.html for info on -Objc flag
OTHER_LDFLAGS = -ObjC

USER_HEADER_SEARCH_PATHS = ${SRCROOT}/../Omniscience/Omniscience/**
